body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 20px;
}

input {
    padding: 2px 5px;
}